<template>
  <div class="wrap">
    <iframe :src='"https://webstaging.vookmark.co/share/"+ post.id' scrolling="no"></iframe>
  </div>
</template>
<script>
import {get} from 'axios'
  export default{
async asyncData ({params}) {
  // console.log(params);
    let {data} = await get(`https://api.vookmark.co/video/${params.share}`)
    data.id=params.share
    return {post: data}
  },
  head(){
    let details= this.post
    return {
      title :'Vookmark',
         meta: [
        {
           name: 'title', 
           content: 'Vookmark'
        },
        { 
          hid: 'description',
          name: 'description', 
          content: details.description || 'Shared via Vookmark'
        },
        { 
          name: 'image', 
          itemprop: 'image',  
          content:details.image || 'https://app.vookmark.co/static/img/Devices.png'
        },
          {
          name: 'url',
          content:'http://playstaging.vookmark.co/'+details.id || 'https://vookmark.co'
        },
         {
           property: 'og:title', 
           content: details.title || 'Shared via Vookmark'
        },
        { 
          hid: 'og:description',
          property: 'og:description', 
          content: details.description || 'Shared via Vookmark'
        },
        { 
          property: 'og:image', 
          itemprop: 'image', 
          content:details.image || 'https://app.vookmark.co/static/img/Devices.png'
        },
        {
          property: 'og:url',
          content:'http://playstaging.vookmark.co/'+ details.id || 'https://vookmark.co'
        },
        {
          property:'twitter:card',
          content:"summary_large_image"
        },
         {
          property:'twitter:creater',
          content:"@getVookmark"
        },
         {
          property:'twitter:description',
          content:details.description || 'Shared via Vookmark'
        },
         {
          property:'twitter:image',
          content:details.image  || 'https://app.vookmark.co/static/img/Devices.png'
        }
      ],
      link: [
      { itemprop: 'thumbnailUrl', href: details.image  || 'https://app.vookmark.co/static/img/Devices.png', id: 'canonical' }
    ]
  //   <meta name="twitter:card" content="summary_large_image">
  // <meta name="twitter:creator" content="@getVookmark">
  // <meta name="twitter:title" content="Vookmark">
  // <meta name="twitter:description" content="Vookmark allows you to bookmark videos across the web and mobile and watch it later on your browser, Apple TV, iOS or Android devices.">
  // <meta name="twitter:image" content="https://app.vookmark.co/static/img/Devices.png">
  }
}
,
  mounted(){
    document.location.replace('https://app.vookmark.co/share/'+this.post.id);
  }
  }
</script>
<style>
.wrap{
  width:100%;
  height: 100vh;
}

  iframe{
    width:100%;
    height: 100%;
  }
</style>